body {
  background-color: #f8eded;
  font-family: "Merriweather", serif;
  color: #40514e;
  margin: 0;
  text-align: center;
  /* font-size: 200%; */
}
h1 {
  color: #ffa0a0;
  line-height: 2;
  font-family: "La Belle Aurore", cursive;
  font-size: 5.625rem;
  /* font-family: "Fuggles", cursive; */
  /* font-family: "Sacramento", cursive; */
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.h2-subtitle {
  font-size: 1.75rem;
  margin-top: 0;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  /* border-style: dotted none none;

  border-color: #eaf6f6;
  border-width: 6px; */

  border: dotted #e6fcfc 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}
a {
  color: #11999e;
}

/* ul {
  list-style: none;
} */

.top-container {
  background-color: #e4f9f5;

  padding-top: 25px;
  position: relative;
}

/* .middle-container {
}
.bottom-container {
} */
.top-ballon {
  position: absolute;
  width: 100px;
  right: 300px;
  top: 50px;
}
.bottom-ballon {
  position: absolute;
  width: 100px;
  left: 300px;
  bottom: 300px;
}

.effiel-tower {
  height: 450px;
}

.nav-links {
  color: #66bfbf;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 15px;
  right: 15px;
}

.nav-links a {
  text-decoration: none;
  text-align: right;
  padding: 10px;
}

.nav-links a:hover {
  color: #ffa0a0;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  /* text-align: center; */
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 35%;
  margin: 40px auto;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.football-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.movies-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.interest-row {
  width: 50%;
  margin: 100px auto 120px auto;
  text-align: left;
}

/* .skills-p {
  clear: right;
} */

.btn {
  background-image: -webkit-linear-gradient(top, #1fc1c7, #11999e);
  background-image: -moz-linear-gradient(top, #1fc1c7, #11999e);
  background-image: -ms-linear-gradient(top, #1fc1c7, #11999e);
  background-image: -o-linear-gradient(top, #1fc1c7, #11999e);
  background-image: -webkit-gradient(to bottom, #1fc1c7, #11999e);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 100;
  padding: 10px 14px;
  border: outset #328585 0;
  margin: 50px auto 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #66bfbf 0px;
  background: #1fc1c7;
  background-image: -webkit-linear-gradient(top, #11999e, #1fc1c7);
  background-image: -moz-linear-gradient(top, #11999e, #1fc1c7);
  background-image: -ms-linear-gradient(top, #11999e, #1fc1c7);
  background-image: -o-linear-gradient(top, #11999e, #1fc1c7);
  background-image: -webkit-gradient(to bottom, #11999e, #1fc1c7);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffa0a0;
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  width: 100%;
  padding: 50px 0 20px;
}

.bottom-container-logo-link-div {
  width: auto;
  display: inline-block;
  position: relative;
  margin: 10px 20px;
}

.footer-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  /* margin: 0 30px 10px 0; */

  margin-left: 30px;
}

.footer-link:hover {
  color: #f8eded;
}

.bottom-container p {
  color: #f8eded;
  margin-top: 40px;
  font-size: 0.75rem;
  /* padding: 20px 0 0; */
}

.bottom-container-social-media-logo {
  width: 25px;
  height: 20px;
  margin: 0;
  position: absolute;
}

.instagram-logo {
  border-radius: 15px;
} 
